# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Build output
build/
dist/

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# IDEs
.vscode/
.idea/

# Misc
*.local
*.sublime-workspace

# Coverage
coverage/

# Others
server.log 